@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
  user-select: none;
  outline: none;
}

body {
  height: 100vh;
  max-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  /* background: #26A69A; */
  background: radial-gradient(#6DD5FA, #49a2bd);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 30px;
  text-transform: capitalize;
  color: #333;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  margin: 10px 5px;
  border-radius: 10px;
  font-size: 14px;
}

.filter {
  display: none;
  flex-direction: column;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.123);
  color: #333;
  font-size: 14px;
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.85);
  width: 150px;
  border-radius: 8px;
  position: absolute;
  top: 16px;
  right: 0px;
  z-index: 50;
  padding: 10px 15px;
  text-transform: capitalize;
}

.filter li {
  padding: 8px 0px;
}

.filter li.active {
  color: rgba(51, 51, 51, 0.521);
}

.task-list {
  overflow: auto;
  gap: 15px;
}

.task-list [data-stat="to do"] {
  --main-color: #fc5f9b;
  --light-color: #fc5f9b25;
}

.task-list [data-stat="in progress"] {
  --main-color: #a362ea;
  --light-color: #a362ea25;
}

.task-list [data-stat="completed"] {
  --main-color: #0ed095;
  --light-color: #0ed09625;
}

.task-list .task {
  width: 100%;
  height: fit-content;
  position: relative;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
}

.task-list .task.filtered {
  height: 0 !important;
  margin-bottom: 0 !important;
}

.task-list .task-heading {
  flex-direction: column;
  padding: 10px;
}

.task-list .task-heading .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  color: #555;
  font-size: 17px;
}

.task-list .task .task-heading .date {
  font-size: 12px;
  color: #999;
  /* font-weight: bold; */
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.task-list .task .task-heading i {
  position: absolute;
  right: 6px;
  top: 10px;
  font-size: 20px;
  color: #666;
}

.overlay .task-details {
  background-color: #ffffffd9;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 15px;
  border-radius: 10px;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.123);
  backdrop-filter: blur(2px) saturate(180%);
  width: 550px;
  min-height: 550px;
  position: relative;
}

.task-details>* {
  background-color: transparent;
}

.task-details h3 {
  font-size: 14px;
  font-weight: 500;
}

.task-details input,
.task-details textarea {
  padding: 5px;
  width: 88%;
  font-size: 16px;
  border: none;
  resize: none;
  margin-bottom: 10px;
}

.task-details textarea {
  height: 100px;
}

.task-details input:focus,
.task-details textarea:focus {
  background-color: #cec7c741;
  caret-color: #555;
  color: #555;
}

.task-details button {
  border: none;
  padding: 5px 0px;
  font-size: 12px;
  color: #212121;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.task-details .stat {
  display: flex;
  font-size: 14px;
  color: #333;
  padding: 10px 0 20px;
  align-items: center;
}

.task-details .stat h3 {
  margin-right: 15px;
}

.task-details .stat span {
  cursor: pointer;
  display: block;
  padding: 3px 5px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 12px;
}

.task-details .stat span.selected-stat {
  background-color: #fc5f9b;
  color: #fff;
  transition: 0.25s;
}

.subtasks {
  flex-direction: column;
  /* margin: 10px 0 0; */
  /* padding: 10px 0; */
  max-height: 230px;
  overflow: auto;
  /* border-top: 1px solid #929e9b; */
}

.subtasks li {
  color: #616161;
  padding: 5px 10px 5px 35px;
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

/* .subtasks li span {
  width: 100%;
} */
.subtasks li:focus {
  padding: 5px 10px 5px;
  background-color: rgba(153, 153, 153, 0.25);
}

.subtasks li:not(:focus)::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  font-family: "Material Icons";
  content: "\e836";
  font-weight: 900;
  color: #fc5f9b;
  z-index: 5;
  font-size: 18px;
}

.subtasks li.done {
  position: relative;
}

.subtasks li.done::before {
  animation: done 0.1s ease forwards;
}

@keyframes done {
  0% {
    content: "\e836";
    transform: translateY(-50%) scale(0);
  }

  100% {
    content: "\e876";
    color: #388e3c;
    transform: translateY(-50%) scale(1);
  }
}

::-webkit-scrollbar {
  width: 5px;
  padding: 15px 5px;
}

::-webkit-scrollbar-track {
  padding: 15px 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #61616100;
  border-radius: 15px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #61616171;
}

input[type="datetime-local"] {
  width: 100px !important;
  background-color: transparent;
  border-bottom: none !important;
  margin: 0 !important;
  font-size: 14px !important;
}

.task .info {
  padding: 5px 10px 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  height: max-content;
}

.task .info i {
  color: #616161;
  font-size: 21px;
}

.info .tag {
  color: var(--main-color);
  /* padding: 2px 5px; */
  font-size: 12px;
  width: 80px;
}

/********** upgrated style ************/

.control-tools {
  padding: 15px 0px 5px;
  position: relative;
}

.input-field input {
  padding: 15px;
  width: 100%;
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  margin-bottom: 10px;
  border: none;
  font-size: 18px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(114, 106, 106, 0.651);
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(15px) saturate(180%);
  z-index: 4;
  display: none;
  justify-content: center;
  align-items: center;
}

.task-details .close-panel {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.task-details .delete-task {
  position: absolute;
  top: 20px;
  right: 50px;
  cursor: pointer;
  color: #fc5f9b;
}

.d-flex {
  display: flex;
}

progress {
  -webkit-appearance: none;
  width: 100px;
  position: relative;
  overflow: visible;
  max-height: 6px;
}

progress::before {
  display: block;
  content: attr(data-value);
  top: 50%;
  transform: translateY(-50%);
  right: -35px;
  position: absolute;
  font-size: 12px;
  z-index: 10;
}

progress::-webkit-progress-bar {
  border-radius: 100px;
  height: 6px;
  background-color: #dddddd;
}

progress::-webkit-progress-value {
  height: 6px;
  border-radius: 100px;
  background-color: #0ed095;
  -webkit-transition: width 5s ease;
  -moz-transition: width 5s ease;
  -o-transition: width 5s ease;
  transition: width 5s ease;
}

@media (max-width: 767px) {
  .overlay .task-details {
    width: 80%;
  }
}

::placeholder {
  color: #61616171;
}

.filter-icon {
  position: absolute;
  top: 30px;
  right: 15px;
  color: #616161;
  font-size: 16px;
}

.filter-tag {
  position: absolute;
  top: 33px;
  right: 20px;

  color: #616161a4;
  font-size: 14px;

  text-transform: capitalize;
}